@import 'tailwindcss';

/* CUSTOM STYLES */
@import './custom/theme-toggle.css';

@variant dark (&:where([data-theme="dark"] *));

:root {
  --bg-base: var(--color-slate-50);
  --bg-base-100: var(--color-slate-200);
  --content-base: var(--color-slate-900);
}
/* :root[data-theme='dark'] {
  --bg-base: var(--color-slate-900);
  --content-base: var(--color-slate-50);
} */

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-lusitana);
  --font-lusitana: var(--font-lusitana);

  /* 
  ADD THIS FOR CUSTOM FONT USE
  --font-techno: var(--font-nabla);
*/

  --color-base: var(--bg-base);
  --color-base-100: var(--bg-base-100);
  --color-base-content: var(--content-base);

  /* Add a small breakpoint for mobile */
  --breakpoint-xs: 29rem;

  --text-6xl: 4rem;

  /* Custom padding settings */
  --spacing-psm: 1rem;
  --spacing-pmd: 2rem;
  --spacing-plg: 4rem;
  --spacing-pxl: 8rem;

  /* Custom screen size settings */
  --spacing-sxs: 29rem;
  --spacing-ssm: 40rem;
  --spacing-smd: 48rem;
  --spacing-slg: 64rem;
  --spacing-sxl: 80rem;
  --spacing-s2xl: 96rem;

  /* Animations */
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-shimmer: shimmer 1.5s ease-in-out infinite;
  @keyframes shimmer {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200%);
    }
  }
}

@layer base {
  body {
    @apply bg-base text-base-content;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans leading-normal font-normal;
  }
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  h5 {
    @apply text-2xl;
  }
}

@layer components {
  .form-field {
    @apply block w-full cursor-pointer rounded-md border border-gray-200 bg-white py-2 pl-10 text-sm;
  }

  /* Target the select element when placeholder is selected */
  .form-field:invalid {
    @apply text-gray-500;
  }

  .form-field:valid {
    @apply text-gray-900;
  }
  .form-label {
    @apply mb-2 block text-sm font-medium text-slate-800/70;
  }
}

@utility bb {
  @apply border border-red-600 sm:border-blue-600 md:border-green-600 lg:border-indigo-600 xl:border-pink-600;
}

@utility bb2 {
  @apply border border-green-600 sm:border-red-600 md:border-blue-600 lg:border-pink-600 xl:border-indigo-600;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
@utility shimmer {
  @apply before:animate-shimmer before:absolute before:inset-0 before:-translate-x-full before:bg-gradient-to-r before:from-transparent before:via-white/40 before:to-transparent;
}
